# from https://github.com/github/gitignore/blob/main/Global/SBT.gitignore
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.direnv

/.idea
/.bsp

/test_run_dir
/formal
**/*.fir
**/*.v
**/*.sv
**/*.anno.json

/result
/programs
/processor

stats*.jsonl
stats*.csv