# from https://github.com/github/gitignore/blob/main/Global/SBT.gitignore
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

/test_run_dir
/*.fir
/*.v